<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
	<parameter name="FROM_CITY" value="London" />
	<parameter name="FROM_AIRPORT" value="LHR" />
	<parameter name="TO_CITY" value="Dublin" />
	<parameter name="TO_AIRPORT" value="DUB" />
	
	<parameter name="FLIGHT_COST" value="€289" />
	<parameter name="NegativeTest_Price" value="€0.92" />
	<parameter name="Row_Count" value="3" />

	<!-- <test name="FirefoxTest">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.deepak.testrunner.TestRunner"></class>
		</classes>
	</test> -->
	<test name="ChromeTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.test.TestRunner"></class>
		</classes>
	</test>
</suite>